{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron" style="margin-top: 100px;">
        <h1>capifony-app <small>@ {{ environment }}</small></h1>
        {% if first_deploy %}

        <h2><small>First deploy</small><br />{{ first_deploy }}</h2>

        <h2><small>Latest deploy</small><br />{{ latest_deploy }}</h2>

        <h2><small>Application life span</small><br />{{ life_span }}</h2>

        <h2><small>Page views</small><br />{{ page_views }}</h2>

        {% else %}
        <h2>This application has never been deployed :(</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
